---
import Layout from '../../layouts/MainLayout.astro';
import Tags from '../../components/Tags.astro'

// FOR STATIC PAGE
// import { getCollection } from 'astro:content';
// import type { CollectionEntry } from 'astro:content';

// export async function getStaticPaths() {
//   const allBlogArticles: CollectionEntry<'blog'>[] = await getCollection('blog');

//   return allBlogArticles.map((entry) => ({
//     params: {
//       slug: entry.slug,
//     },
//     props: { entry },
//   }));
// }

// const { entry } = Astro.props;

// FOR SERVER SIDE RENDERING
import { getEntry } from 'astro:content';
import { formatDate } from '../../utils';

const { slug } = Astro.params;

if (slug === undefined) {
  throw new Error('Slug is requied');
}

const entry = await getEntry('blog', slug);

if (entry === undefined) {
  return Astro.redirect('/404');
}

const { Content } = await entry.render();
---

<Layout>
  <!-- For Static Page -->
  <!-- <h1>{entry.data.title}</h1> -->

  <!-- SSR -->
  <a href='/articles' class='inline-block bg-gray-100 p-2 mb-6 hover:bg-indigo-500 hover:text-white rounded-lg'>Back To Articles</a>
  <article class="prose lg:prose-xl prose-a:no-underline prose-a:text-white">
    <h1 class='text-4xl font-bold mb-2'>{entry.data.title}</h1>
    <h3 class='text-lg mb-2'>
      Written by {entry.data.author} on {formatDate(entry.data.pubDate)}
    </h3>
    <Tags tags={entry.data.tags} />
    <img
      src={'/images/' + entry.data.image}
      alt='Article Image'
      class='w-full h-auto rounded-xl my-6'
    />
    <Content />
  </article>
</Layout>
